@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f581;
}

/* navbar */
nav {
  /* position: fixed;
    top: 0;
    width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(189, 186, 186);
}

.logo-menu-container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-left: 10px;
  margin-right: 40px;
  border-radius: 100%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: 0.3s ease;
}
.menu li a:hover {
  color: tomato;
}

.btn {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
}

button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s ease;
}

button i {
  margin-left: 5px;
}
button:hover {
  background-color: #000;
}

/* project */

.form-container {
  display: flex;
  flex-direction: column;

  padding: 20px;
  width: 700px;
  margin: 20px auto;
  border-radius: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.wraperr {
  padding: 5px;
  margin: 10px auto;
  width: 500px;
}

.form-group {
  margin-bottom: 10px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea,
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: none;
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.form-row .form-group {
  flex: 1;
  margin-right: 10px;
}
.form-row .form-group:last-child {
  margin-right: 0;
}

.title-chek p {
  font-weight: 600;
}
.checkbox-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.checkbox-group .checkbox-item {
  display: flex;
  align-items: center;
  width: 200px;
}
.checkbox-group .checkbox-item label {
  margin-left: 5px;
  width: 100%;
}
.btn-container {
  display: flex;
  justify-content: end;
}
.submit-btn {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: tomato;
  color: black;
}

/* MY PROJECT */
.card {
    display: flex;
    flex-direction: column;
  border: none;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

}

.card-img {
  display: block;
  width: 300px;
  height:200px;
  border-radius: 10px;
  margin: 20px auto;

}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px;
}
.duration{
  margin-left: 20px;
}

.card-text {
  color: #6c757d;
  margin: 20px;
  margin-top: 20px;
}

.icon-projet{
  display: flex;
  margin: 20px;
  margin-top: 20px;
  gap: 20px;
}

.icon-projet i{
  font-size: 30px;

}

.btn-card{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.btn-card a {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 30px;
  background-color: tomato;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: .3s ease;
}

.btn-card a:hover {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
  width: 100%;
  padding: 20px;
  margin-left: 30px;
  gap: 20px;
}
